html {
  background: rgba(0, 0, 0, .8);
}

.wrapper {
  text-align: center;
}

.uk-button-default {
  color: rgba(255, 255, 255, .8);
}

.uk-button-default:hover {
  color: #b2b2b2;
}

.check > div {
  background-color: lime;
}

.btn-check {
  &_activate {
    color: white;
  }
}

span {
  opacity: 0;

  &:hover {
    color: white;
  }
}

.center {
  justify-content: center;
}

.uk-subnav-pill > .uk-active[uk-filter-control=""] > a {
  background: linear-gradient(to left, #1e87f0, lime);
}

.uk-active[uk-filter-control=".check"] > a {
  background: lime;
}